<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8">
<%- include('composants/head') %>
<body>
<%- include('composants/menu') %>
<%- include('composants/formulaire') %>
<div id="global">
	<nav>
		<ul>
			<li><a href="http://localhost:8081/peupler">Peuplement</a></li>
			<li><a href="http://localhost:8081/vider">Vider la liste</a></li>
		</ul>
	</nav>
 <table class="tableau">
 	<% let noLigne = 0 %>
	 <% for (elm of adresses) { %>

	 <% if(noLigne == 0){ %>
		 <tr>
			 <% noLigne++
			 for (p in elm ){ %>
			 <th><a href='http://localhost:8081/trier/<%= p %>/<%= direction %>'><%= p %></a></th>
			 <% } %>
		 </tr>
	 <% } %>

	 <tr>
		 <% for (p in elm ){ %>
		 <td contenteditable='true'><%= elm[p] %></td>
		 <% } %>
		 <td><a href='/detruire/<%= elm._id %>'>Détruire </a></td>
		 <td><a class="sauver" href="#">Modifier </a></td>
	 </tr>
	 <% } %>
 </table>
 <%- include('composants/formulaire_ajout') %>
</div>
 <script type="text/javascript">
	let elmSauver = document.querySelectorAll('.sauver')
	for (elm of elmSauver){
		elm.addEventListener('click', function(){
			let laLigne = this.parentNode.parentNode
			let id = laLigne.children[0].innerHTML
			let nom = laLigne.children[1].innerHTML
			let prenom = laLigne.children[2].innerHTML
			let telephone = laLigne.children[3].innerHTML
			let courriel = laLigne.children[4].innerHTML

			let elmForm = document.getElementById('mon_formulaire')
			let elmInput = elmForm.querySelectorAll('input')
			elmInput[0].value = id
			elmInput[1].value = nom
			elmInput[2].value = prenom
			elmInput[3].value = telephone
			elmInput[4].value = courriel

			elmForm.submit()
		})
	} 
</script>
<%- include('composants/footer') %>
</body>
</html>